.footer-bottom  {
  display: none;
  
}

@media  (max-width: $only-mobile-width)  {
  .footer-bottom  {     
    &--block  {
      display: block;
    }

    &__wrapper  {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 40px 20px;
      margin: 0 auto;
      width: 280px;
    }

    &__logo  {
      margin-bottom: 43px;
    }

    &__designed  {
      display: flex;
      justify-content: space-around;
      width: 152px;
    }

    &__text  {
      margin: 0;
      color: #283645;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
    }    

  }  

}

@media  (min-width: $tablet-width)  {
  .footer-bottom  {
    display: block;

    &__wrapper  {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 36px 20px 51px;
      width: 660px;
    }

    &__designed  {
      display: flex;
      justify-content: space-around;
      width: 152px;
    }

    &__text  {
      margin: 0;
      color: #283645;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
    }
  }
}

@media  (min-width: $desktop-width) {
  .footer-bottom  {    

    &__wrapper  {
      margin: 0 auto;
      padding: 70px 10px 87px;
      width: 960px;
    }

    &__link:hover path  {
      fill: #283645;
    }

    &__link:active path  {
      fill: rgba($color: #283645, $alpha: 0.3);
    }

  }
}