.promo {
  margin-top: -70px;
  height: 460px;
  background: url("../../img/hand-background-for-all.png") 84% 120% no-repeat,
  url("../../img/background-image.jpg") center 100% no-repeat;  
  background-size:  537px, cover;
  background-color: #283645;
}

@media (min-width: $tablet-width)  {
  .promo  {
    margin-top: -110px;
    height: 730px;
    background: url("../../img/hand-background-for-all.png") 52% 106% no-repeat,
                url("../../img/background-image.jpg") center 100% no-repeat;  
    background-size:  900px, cover;
    background-color: #283645;
  }
}

@media (min-width: $desktop-width)  {
  .promo  {
    margin-top: -110px;
    height: 955px;
    background: url("../../img/hand-background-for-all.png") 115% 100% no-repeat,
                url("../../img/back-desktop-jpg.jpg") center  no-repeat;  
    background-size:  1200px, cover;
    background-color: #283645;
  }
}