@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&subset=cyrillic');



body  {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-style: normal;
  // background-color: $bg-color;
  // временно 
  background-color: gray;
}

img  {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*  {
  box-sizing: border-box;
}